body {
  margin: 0;
  padding: 0;
}

h1, strong, button, span {
  font-family: 'Montserrat', serif;
}

.container {
  height: 100vh;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);

}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 720px;
  width: 80%;
  border-radius: 8px;
  background-color: hsl(30, 38%, 92%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card {
  display: flex;
  height: 450px;
  width: 640px;
  background-color:hsl(0, 0%, 100%);
  border-radius: 8px;
}

.card-info {
  padding: 36px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.img-product {
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  resize: contain;
}

.card-price {
  display: flex;
  justify-content: space-between;
}

.card-btn { 
  background-color: hsl(158, 36%, 37%);
  color: #FFFFFF;
  border: none;
  height: 42px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;

  transition:  filter 0.2s;

  cursor: pointer;

}

.card-btn:hover {
  filter: brightness(0.7); 
}

.category { 
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  letter-spacing: 4px;
}

.name-product {
  font-weight: 700;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
}

.paragraph {
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}